oke# Security Settings
DJANGO_SECRET_KEY=dev-insecure-key-ganti-di-produksi
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Database Settings (kosongkan DB_ENGINE jika ingin pakai default sqlite3)
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=bps_publikasi
# DB_USER=postgres
# DB_PASSWORD=
# DB_HOST=127.0.0.1
# DB_PORT=5432

# Gemini AI Vision Settings
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
